/*color = data type
	different styles at different hierarchies, 
	have an externally linked style sheet text file using the <link rel=""> tag in the <head>
	using embedded style sheet using <style> tag in the <head> of the doc and in-line as a style=""

various ways to specify what should be actually styled.
	you want all <a> tags to be styled in a particular way
	only certain subsets of tags being styled by using class="" and specifying .class in the stylesheet
	unique elements being styled in a certain way through id="" and #id

various style changes
	font sizes, 
	font weight
	font treatment 
	font position 
	alignment of elements 
	manipulation of images,
	hover 
	visibility changes links 
    other elements*/

    h1,h3 {
        color: purple;
        font-family: arial,Sans-serif;
        font-weight: 900;
        font-style: italic;
        text-align: center;
        font-weight: bold;
	}
	h2{border: 2px solid rgb(252, 0, 105);
	 border-radius: 5px;
	 font-weight:900;color:rgb(204, 0, 255);
	background-color: rgb(250, 150, 250);
	}

    hr {
        border: 5px dashed rgb(96, 52, 153);
		border-radius: 2.5px;
	}
	